.about{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  .expert{
    img {
      max-width: 300px;
      max-height: 300px;
    }
  }
  .animated {
    opacity: 0;
    transition: all 1s ease-in-out;
  }
  
  .animation-left {
    transform: translateX(-50%);
  }
  
  .animation-right {
    transform: translateX(50%);
  }
  
  .animation-bottom {
    transform: translateY(50%);
  }
  
  .show {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
 
  h2, h1, h3{
    font-weight: bold;
    color: #005aab;
  }
  .text-muted{
    font-style: italic;
  }
  p{
    color: #000 !important;
    font-size: 18px;
  }
  .text_email{
    cursor: pointer;
    &:hover{
      color: #005aab !important;
      text-decoration: underline;
    }
  } 
}

