    <div class="header"  
        [ngClass]="{'hidden': isHidden}"
        [ngClass]="{'lineBottom': url !== 'home'}"
        >
        <div class="conten_header" 
            [ngStyle]="{'background-color': url === 'home' && !outTop ? 'transparent': '#ceddf0'}"
            [ngClass]="{'lineBottom': url !== 'home'}">
            <section class="logo" (click)="scollTop()">
                <img src="../../../assets/img/Thăng.jpg" alt="">
            </section>
            <section class="list_btn">
                <button class="btn" 
                        [ngStyle]="{'color': url === 'home' && !outTop ? '#fff': '#000'}"
                        *ngFor="let item of listBtn; let i = index" 
                        [ngClass]="{'active': item.active}"
                        (click)="handleRouting(item)"
                        >
                    {{item.name}}
                </button>
            </section> 
        </div>    
    </div>
<div class="banner" *ngIf="url === 'home'">
    <div class="banner_text  animated  animation-right">
        <span >
            Công Ty TNHH 
        </span>
        <h2 class="company-name">Minh Châu Floor</h2>
        <p>Đơn vị chuyên cung cấp, thi công và lắp đặt sàn thể thao hàng đầu Việt Nam.</p>
       
    </div>
    <img class="imgBottom" src="../../../assets/img/sep.png" alt="bottom">
</div>