<div class="container py-5">
    <h2 class="text-center mb-4" style="color: #005aab; font-weight: 700;">Dự Án Thi Công</h2>
    <div class="row g-4">
      <div class="col-md-4" *ngFor="let project of projects">
        <div class="card shadow-sm itemProject">
          <img [src]="project.urlImg" class="card-img-top" [alt]="project.title">
          <div class="card-body">
            <h5 class="card-title text-primary">{{ project.title }}</h5>
            <p class="text-muted" *ngIf="project.nameCustomer">
              Khách hàng: <strong>{{ project.nameCustomer }}</strong>
            </p>
            <p class="text-muted" *ngIf="project.adress">
                Địa chỉ: <strong>{{ project.adress }}</strong>
              </p>
            <p class="text-muted" *ngIf="project.timeFrom && project.timeTo">
              Thời gian: {{ project.timeFrom | date:'MM/yyyy' }} - {{ project.timeTo | date:'MM/yyyy' }}
            </p>
            <p class="card-text text-secondary" *ngIf="project.des">{{ project.des }}</p>
  
            <div class="d-flex justify-content-between align-items-center">
              <span class="text-warning fw-bold">
                ★ {{ project.feedback.toFixed(1) }}
              </span>
              <button class="btn btn-primary btn-sm" (click)="detailConstruction(project)">Chi tiết</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  
